@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

header {
    background-color: beige;
    border: 1px solid #000;
    display: flex;
    align-items: center;
}

img#icon {
    padding: 10px;
    width: 5em;
}

/* Main */

div#area-perfil {
    display: flex;
    align-items: center;
}

img#foto-perfil {
    width: 100px;
}

div#area-estatisticas {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: space-between;
}

div#area-estatisticas > div {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 5px;
    font-size: 0.8em;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 10px;
}

a.navegacao, p.navegacao {
    color: #ffffffee;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

p.navegacao {
    color: #fff;
    font-weight: bolder;
    text-decoration: overline;
}